<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.studiomobile" android:versionCode="2" android:versionName="2.0">
	<!-- Required permission to use in-app billing. -->
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="com.android.vending.CHECK_LICENSE" />
	<application android:label="@string/app_name" android:icon="@drawable/icon">
		<activity android:name="com.unity3d.player.UnityPlayerActivity" android:label="@string/app_name" android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.unity3d.player.VideoPlayer" android:label="@string/app_name" android:screenOrientation="landscape">
		</activity>
		<service android:name="com.inapppurchase.BillingService" />
		<receiver android:name="com.inapppurchase.BillingReceiver">
			<intent-filter>
				<action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
				<action android:name="com.android.vending.billing.RESPONSE_CODE" />
				<action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
			</intent-filter>
		</receiver>
	</application>
</manifest>